<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sbkim.com.vo.UserVO">

	<select id="selectUser" resultType="sbkim.com.vo.UserVO">
		SELECT * FROM WEBUSER
	</select>
	
	<select id="selectId" parameterType="String" resultType="String">
		SELECT U_ID FROM WEBUSER
		WHERE U_ID=LOWER(#{VALUE})
	</select>
	
	<select id="selectName" parameterType="String" resultType="String">
		SELECT U_NICKNAME FROM WEBUSER
		WHERE U_NICKNAME=LOWER(#{VALUE})
	</select>
	
	<insert id="insertUser" parameterType="sbkim.com.vo.UserVO">
		INSERT INTO WEBUSER(U_ID, U_NICKNAME, U_PW, U_EMAIL, U_PHONE) 
		VALUES(LOWER(#{id}), #{name}, #{pw}, #{email}, #{hp})
	</insert>
	
	<select id="selectIdForLogin" parameterType="String" resultType="String">
		SELECT U_PW FROM WEBUSER
		WHERE U_ID=LOWER(#{VALUE})
	</select>
	
	<!-- <select id="selectBoard" parameterType="String" resultType="sbkim.com.vo.BoardVO" >
	   SELECT A.C_NO AS CNO, A.C_TITLE AS TITLE, A.C_CONTENTS AS CONTENTS, A.C_FILENAME AS FILENAME, A.C_VIEW AS VIEWCOUNT, 
	   TO_CHAR(A.C_REGDATE, 'YYYY/MM/DD HH24:MI')REGDATE, A.C_CATEGORY AS CATEGORY, A.C_INFOCATEGORY AS INFOCATEGORY, 
	   A.U_ID AS UNO, NVL(B.L_COUNT, 0) AS LCOUNT, NVL(B.R_COUNT,0)RCOUNT
		FROM WEBBOARD A LEFT JOIN (SELECT A.C_NO, SUM(A.L_COUNT)L_COUNT, NVL(C.R_NO,0)R_COUNT FROM WEBLIKE A 
		FULL JOIN (  SELECT C_NO, COUNT(R_NO)R_NO FROM BOARDREPLY  GROUP BY C_NO) C ON A.C_NO = C.C_NO GROUP BY A.C_NO, C.R_NO)B
  		ON A.C_NO = B.C_NO 
  		WHERE C_TITLE LIKE '%#{search}%' 
  		ORDER BY
  		<choose>
  		 <when test="sort == 'cno'">CNO DESC</when>
  		 <when test="sort == 'lcount'">LCOUNT DESC</when>
  		 <when test="sort == 'reply'">RCOUNT DESC</when>
  		 <when test="sort == 'viewcount'">VIEWCOUNT DESC</when>
  		<otherwise>CATEGORY DESC</otherwise>
  		</choose>
	</select> -->
	<select id="selectBoard" parameterType="HashMap" resultType="sbkim.com.vo.BoardVO" >
		SELECT RM, CNO, TITLE, CONTENTS, FILENAME, VIEWCOUNT, REGDATE, CATEGORY, INFOCATEGORY, UNO, LCOUNT, RCOUNT 
		FROM (
		SELECT  ROWNUM RM, CNO, TITLE, CONTENTS, FILENAME, VIEWCOUNT, REGDATE, CATEGORY, INFOCATEGORY, UNO, LCOUNT, RCOUNT 
		FROM(
		SELECT A.C_NO AS CNO, A.C_TITLE AS TITLE, A.C_CONTENTS AS CONTENTS, A.C_FILENAME AS FILENAME, A.C_VIEW AS VIEWCOUNT, TO_CHAR(A.C_REGDATE, 'YYYY/MM/DD HH24:MI')REGDATE, 
              A.C_CATEGORY AS CATEGORY, A.C_INFOCATEGORY AS INFOCATEGORY, A.U_ID AS UNO, NVL(B.L_COUNT, 0) AS LCOUNT, NVL(B.R_COUNT,0)RCOUNT
		FROM WEBBOARD A 
		LEFT JOIN (
		SELECT A.C_NO, SUM(A.L_COUNT)L_COUNT, NVL(C.R_NO,0)R_COUNT FROM WEBLIKE A 
		FULL JOIN ( 
		SELECT C_NO, COUNT(R_NO)R_NO FROM BOARDREPLY  GROUP BY C_NO) C ON A.C_NO = C.C_NO GROUP BY A.C_NO, C.R_NO) B
		ON A.C_NO = B.C_NO 
   		WHERE C_CATEGORY=#{category} AND  C_TITLE LIKE '%'||#{search}||'%'
    	ORDER BY 
    	<choose>
  		 <when test="sort == 'cno'">CNO DESC</when>
  		 <when test="sort == 'lcount'">LCOUNT DESC</when>
  		 <when test="sort == 'reply'">RCOUNT DESC</when>
  		 <when test="sort == 'viewcount'">VIEWCOUNT DESC</when>
  		<otherwise>CATEGORY DESC</otherwise>
  		</choose>
    	) A
        )
      	WHERE RM BETWEEN #{pageVo.startList} AND #{pageVo.listSize}
	</select>
	
	<insert id="writeContents" parameterType="sbkim.com.vo.BoardVO">
		INSERT INTO WEBBOARD(C_NO, C_TITLE, C_CONTENTS, C_FILENAME, C_VIEW, C_REGDATE, C_CATEGORY, C_INFOCATEGORY, U_ID) 
		VALUES(WEBBOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{fileName}, #{viewCount}, SYSDATE, #{category}, #{infoCategory}, LOWER(#{uno}))
	</insert>
	
	
	<update id="modifyInfo" parameterType="sbkim.com.vo.BoardVO">
		UPDATE WEBBOARD SET C_TITLE=#{title}, C_CONTENTS=#{contents}, C_CATEGORY = #{category}, C_INFOCATEGORY = #{infoCategory}
			, C_FILENAME = #{fileName}
		<!-- <choose>
			<when test="fileName != '' and fileName != null">
			</when>
		</choose> -->
		WHERE C_NO = #{cno}
	</update>
	
	
	<select id="infoBoard" parameterType="Integer" resultType="sbkim.com.vo.BoardVO">
		SELECT A.C_NO AS CNO, A.C_TITLE AS TITLE, A.C_CONTENTS AS CONTENTS, A.C_FILENAME AS FILENAME, A.C_VIEW AS VIEWCOUNT, TO_CHAR(A.C_REGDATE, 'YYYY/MM/DD HH24:MI')REGDATE, 
				A.C_CATEGORY AS CATEGORY, A.C_INFOCATEGORY AS INFOCATEGORY, A.U_ID AS UNO, 
				NVL(B.L_COUNT, 0) AS LCOUNT
		FROM WEBBOARD A LEFT JOIN (SELECT C_NO, SUM(L_COUNT)L_COUNT FROM WEBLIKE GROUP BY C_NO) B
		ON A.C_NO=B.C_NO
		WHERE A.C_NO = #{cno}
	</select>
	
	<!-- WEBBOARD 테이블 내 삭제  -->
	<delete id="boardDel" parameterType="Integer" >
		DELETE FROM WEBBOARD WHERE C_NO = #{VALUE}
	</delete>

	<!-- WEBLIKE 테이블 내 삭제  -->
	<delete id="likeDel" parameterType="Integer" >
		DELETE FROM WEBLIKE WHERE C_NO = #{VALUE}
	</delete>
	
	
	<update id="plusView">
		UPDATE WEBBOARD SET C_VIEW = C_VIEW +1 WHERE C_NO= #{VALUE}
	</update>
	
	<select id="likeState" parameterType="HashMap" resultType="Integer" >
	 	SELECT L_COUNT
	 	FROM WEBLIKE
	 	WHERE C_NO = #{cno} AND U_ID = #{id}
	</select>
	
	<select id="likeSelect" parameterType="like" resultType="Integer" >
		SELECT L_NO AS LNO
		FROM WEBLIKE
		WHERE C_NO = #{cno} AND U_ID = #{uno}
	</select>
	
	<select id="likeReSelect" parameterType="like" resultType="String" >
		SELECT L_COUNT AS LCOUNT
		FROM WEBLIKE
		WHERE C_NO = #{cno} AND U_ID = #{uno}
	</select>
	
	<insert id="likeAdd" parameterType="like">
		INSERT INTO WEBLIKE(L_NO, L_COUNT, C_NO, U_ID) VALUES(WEBLIKE_SEQ.NEXTVAL, #{lCount}, #{cno}, LOWER(#{uno}))
	</insert>
	
	<update id="likeReAdd" parameterType="like">
		UPDATE WEBLIKE SET L_COUNT = 1 WHERE C_NO = #{cno} AND U_ID = #{uno}
	</update>
	
	<update id="likeCancle" parameterType="like">
		UPDATE WEBLIKE SET L_COUNT = 0 WHERE C_NO = #{cno} AND U_ID = #{uno}
	</update>

	 <select id="search" parameterType="java.util.HashMap" resultType="sbkim.com.vo.BoardVO">
		SELECT A.C_NO AS CNO, A.C_TITLE AS TITLE, A.C_CONTENTS AS CONTENTS, A.C_FILENAME AS FILENAME, A.C_VIEW AS VIEWCOUNT, 
	   TO_CHAR(A.C_REGDATE, 'YYYY/MM/DD HH24:MI')REGDATE, A.C_CATEGORY AS CATEGORY, A.C_INFOCATEGORY AS INFOCATEGORY, 
	   A.U_ID AS UNO, NVL(B.L_COUNT, 0) AS LCOUNT, NVL(B.R_COUNT,0)RCOUNT
		FROM WEBBOARD A LEFT JOIN (SELECT A.C_NO, SUM(A.L_COUNT)L_COUNT, NVL(C.R_NO,0)R_COUNT FROM WEBLIKE A 
		FULL JOIN (  SELECT C_NO, COUNT(R_NO)R_NO FROM BOARDREPLY  GROUP BY C_NO) C ON A.C_NO = C.C_NO GROUP BY A.C_NO, C.R_NO)B
  		ON A.C_NO = B.C_NO 
  		WHERE A.C_TITLE LIKE '%'||#{search}||'%' 
  		ORDER BY
  		<choose>
  		 <when test="sort == 'cno'">CNO DESC</when>
  		 <when test="sort == 'lcount'">LCOUNT DESC</when>
  		 <when test="sort == 'reply'">RCOUNT DESC</when>
  		 <when test="sort == 'viewcount'">VIEWCOUNT DESC</when>
  		<otherwise>CATEGORY DESC</otherwise>
  		</choose>
	</select> 

	<insert id="replyInsert" parameterType="reply">
		INSERT INTO BOARDREPLY(R_NO, R_CONTENTS, R_REGDATE, C_NO, U_ID) 
		VALUES(BOARDREPLY_SEQ.NEXTVAL, #{rContents}, SYSDATE, #{cno}, #{uno})
	</insert>
	
	<select id="replySelect" resultType="reply" parameterType="Integer">
		SELECT R_NO AS RNO, R_CONTENTS AS RCONTENTS, TO_CHAR(R_REGDATE, 'YYYY/MM/DD HH24:MI')RREGDATE, C_NO AS CNO, U_ID AS UNO
		FROM BOARDREPLY
		WHERE C_NO = #{VALUE}
		ORDER BY R_NO DESC
	</select>
	
	<delete id="replyDelete" parameterType="Integer">
		DELETE FROM BOARDREPLY 
		WHERE R_NO = #{VALUE}	
	</delete>
	
	<!-- 모든 게시물 수 조회  -->
	<select id="getListCnt" parameterType="String" resultType="Integer">
		 SELECT COUNT(C_NO) AS LISTCNT FROM WEBBOARD WHERE C_TITLE LIKE '%'||#{VALUE}||'%'
	</select>
	

</mapper>